#!/usr/bin/env bash


# SSH connection settings, please change them
ssh_config=test1
# alternate:
ssh_host=domain
ssh_user=user
ssh_password=pass


# Database connection settings, please change them
db_user=user
db_host=localhost
db_name=db
db_password=pass


# Path settings from server, please change them
website_path=server/path/to/website
backups_path=server/path/to/backups/website
